<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">© 2020 - <%= Time.now.year %> Ernest Addae.
      <%# <a style="text-decoration: none;" href="/privacy-policy/">Privacy Policy</a> %>
      <a style="text-decoration: none;" href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
