<div class="container">
  <div class="row">
    <div class="col-lg-8 col-12">
      <div class="row">
        <div class="col-12">
           <h1 class="display-3 mb-2">Earnest Ruby Authors</h1>
        </div>
        <div class="col-12 mb-3">
          <%= image_tag("https://www.dropbox.com/s/hnft0ev0td9dzwf/children.jpg?dl=1", class: "card-img-top m-0 p-0 rounded") %>
        </div>
      </div>
      <% @users&.each do |user| %>
          <%= render user %>
      <% end %>
    </div>
    <div class="col-lg-4 col-12">
      <%= render "shared/index_sidebar" %>
    </div>
  </div>
</div>


