<div class="d-sm-flex flex-row justify-content-between my-2">
   <div class="align-self-center">
    <span>
      <%= twitter(@article) %>
      <%= facebook(@article) %>
      <%= email(@article) %>
    </span>
</div>
</div>
