<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8 article">
      <div class="article-body page-body">
        <h1 class="text-center mb-4" id="team">Join The Earnest Ruby Tutorial&nbsp;Team</h1>
        <div class="text-justify">
        <p class="text-muted">
          <strong>Do you have a knack for writing and want to get your thoughts in front of thousands of Ruby developers?&nbsp;</strong>
        </p>

        <p>The <span class="text-primary">earnestruby.com</span> tutorial team stands for quality Ruby content available online. Our mission is to “help Ruby developers around the world become more proficient.”</p>

        <!-- <p>And with a reach of over 1,500,000 visitors a month it feels amazing how far we’ve come—but we think we can do even better!</p> -->

        <p>To help us raise the quality level of our tutorials even further, and expand beyond the topics we’ve covered so far, we are growing our team:</p>

        <p>We are looking for great new authors and editors to join our team. Keep reading to find out what’s involved, and how to apply.</p>

        <blockquote>
          <p>
            <strong>Note:</strong> This is not a full-time job. These are part-time informal positions you can do in the evenings/weekends. You will be paid on a per-project basis.
          </p>
        </blockquote>
      </div>

        <h2 id="why-join-our-team">Why Join Our Team?</h2>
        <ol class="text-justify">
          <li class="mb-2">
            <strong>Learning:</strong> You’ll always be learning something new—and you’ll have fun doing it. You’ll become a better developer, writer, and communicator, while making new friends along the way.
          </li>

         <!--  <li class="mb-2">
            <strong>Eyeballs:</strong>
            Our site gets a lot of traffic—1.5 million visitors per month and growing.
            We’re regularly featured in other Ruby publications and we also run one of the largest email newsletters and social media accounts in the community. When you publish a tutorial here, it will get read a lot, and people will love you for it.
          </li> -->

          <li class="mb-2">
            <strong>Tutorial Polish:</strong> When you submit a tutorial or article to <span class="text-primary">earnestruby.com</span>, we will personally work with you to polish your work to a high level of quality. In the end, your tutorial will look much better than when you first submitted it, making you look really good.
          </li>

          <li class="mb-2">
            <strong>Writing Training:</strong> When we are done reviewing and editing your tutorial, we will send you detailed feedback on how you can improve your tutorials in the future. This will help you become a better developer, writer, and communicator.
          </li>

          <li class="mb-2">
            <strong>Personal Exposure:</strong> Your picture and bio will be prominently featured on your tutorials and on multiple other places on the site. This can lead to a multitude of new opportunities for you—job offers, freelance projects, and conference invitations. An in-depth tutorial published on Earnest Ruby can make a great portfolio piece. Furthermore, you will gain avid readers of your content as subscribers
          </li>

          <!-- <li class="mb-2">
            <strong>$$$ Money:</strong> You’ll get paid to learn. We’re not asking you to do this “just for the exposure”—this is a paid part-time position.
          </li> -->

          <!-- <li class="mb-2">
            <strong>Special Opportunities:</strong> Members of the tutorial team get access to special opportunities such as contributing to our books and courses, speaking at online meetups we organize, becoming interview guests to chat about an area of your expertise on the <a href="<%#= root_path %>">Earnest Ruby Podcast</a>, working on team projects, and more.
          </li> -->

          <!-- <li class="mb-2">
            <strong>Contracting Opportunities:</strong> Members of the tutorial team share contracting opportunities we hear about with the rest of the team—this is a great way to find out about more work.
          </li> -->

          <li class="mb-2">
            <strong>You’ll Have an Impact:</strong> We get emails and comments every day about how our tutorials help our readers write their first Ruby program, get their learning progress unstuck, or accomplish their career dream of working with Ruby professionally. This means a lot to us and makes all the hard work worth it. Our most prolific authors have been approached at conferences and meetups by other developers who read their articles—a great conversation starter.
          </li>

          <li class="mb-2">
            <strong>100% Remote-Friendly:</strong> At Earnest Ruby you’ll join a remote-first, distributed, and diverse <%= link_to "team", users_path %> that spans across the globe.
          </li>

          <!-- <li class="mb-2">
            <strong>Free Stuff:</strong> As a final bonus, by joining the tutorial team you will get a lot of free stuff. You’ll get a free copy of all of the products we sell on the site, access to all of our members-only content, as well as a life-time membership to RubyistCafe. That’s about $1,000 in value you’ll receive for free.
          </li> -->
        </ol>

        <h2 id="about">What Can You Write About?</h2>
        <p class="text-justify">
          At Earnest Ruby we aim to provide the highest quality tutorials and articles for Ruby developers out there. We’re in this for the long haul and we want to create and publish great resources that really help people improve their programming skills and their careers.
        </p>
        <p>Here are some of the categories we’re looking for writers on:</p>
        <ul class="text-justify">
          <li class="mb-2">
            <strong>Technical – Ruby programming, web development, testing, computer science, etc.</strong> These articles should be at least 1500 words long (even more if you have it in you) and include detailed instructions, how-to’s, getting started guides to a specific technology, library, or framework.
          </li>
          <li class="mb-2">
            <strong>Technical – Step-by-Step Project Tutorials</strong> Show your readers how to build something with Ruby end-to-end, with step-by-step instructions, screenshots, and explanations along the way.
          </li>
          <li class="mb-2">
            <strong>Career – All kinds of career topics that would appeal to: employees, managers, freelancers, entrepreneurs, and students.</strong> These articles should relate specifically to the programming and developer industry with a focus on the world of Ruby.
          </li>
          <li class="mb-2">
            <strong>Productivity&nbsp;–&nbsp;System, hacks, learning, etc.</strong>&nbsp;These articles should give programmers the tools to accelerate their processes and put their best work (and selves) out to the world.
          </li>
          <li class="mb-2">
            <strong>Motivational –&nbsp;Psychology, dealing with fear, failure, attitude, inspiration, success.</strong>&nbsp;“Life advice” for software developers, basically.
          </li>
        </ul>

        <h2 id="requirements">Requirements &amp; How To Apply</h2>
        <p>Here are the requirements for this role:</p>
        <ul>
          <li>You must be a beginner to advanced-level developer.</li>
          <li>You should be a good writer with fluent English writing skills. </li>
          <li>You should be comfortable learning brand new topics that you have never done before, which are either not documented or poorly documented.</li>
          <li>You should have a strong work ethic—this will be a significant time commitment and is not easy.</li>
        </ul>
        <p>To apply, click the button below and fill out our Tutorial Team Job Application form:</p>
        <p>
          <%= link_to "Tutorial Team Application »", "https://forms.gle/Z19Z362QgR9YFYydA", class: "btn btn-danger d-block font-weight-bold" %>
        </p>
        <p>For the applicants that look most promising, we will give you a paid writing assignment as a trial. If you pass the tryout, you’re in!</p>

      </div>
    </div>
  </div>
</div>
