<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    Ruby | Content | Community
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2021 - <%= Time.now.year %> <%= link_to "Earnest Ruby", root_path %> </strong> All rights reserved.
</footer>
