<div class="container mt-5 mb-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 offset-lg-2 col-sm-12">
      <div class="article-body page-body">
        <h1 class="text-center mb-0">Feedback</h1>
        <h2 class="text-center mt-1 mb-4">Start Here Page</h2>
        <%= render "form", feedback: @feedback %>
      </div>
    </div>
  </div>
</div>
