<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-sm-12">
      <h1 class="font-weight-bold text-center">Edit User</h1>

      <%= render "form", user: @user %>
    </div>
  </div>
</div>
