<div class="container">
  <header>
    <h1><%= @user %></h1>

    <ul class="actions">
      <li>
        <%= link_to "Edit User", edit_admin_user_path(@user), class: "edit" %>
      </li>
    </ul>
  </header>
</div>

